form {
    background-color: lightgray;
    border-radius: 10px;
    width: 500px;
    margin: auto auto;
    text-align: center;
    padding: 10px;
}

form div {
    width: 55%;
    margin: auto auto;
    padding: 5px;
    font: 14pt sans-serif;
    color: #444;
    text-align: right;
    line-height: 25px;
}

form h1{
    font: 16pt sans-serif;
    color: #444;
}

#weather {
    text-align: left;
}

label {
    float: left;
    padding-right: 5px;
}

input {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
}

button {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 40px;
    font: 12pt sans-serif;
    color: #444;
}

div.link a:link, div.link a:visited {
    color: #444;
    outline: none;
    text-decoration: none;
}

div.link a:hover, div.link a:active {
    color: SteelBlue;
    outline: none;
    text-decoration: underline;
}

::placeholder {
    color: LightSteelBlue;
}

input:hover, input:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

label:hover {
    color: SteelBlue;
}

button:hover, button:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: SteelBlue;
}

#reg_form .msg-box {
    text-align: left;
    font: 10pt sans-serif;
    margin-top: 5px;
    width: 350px;
}