table {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}

th {
  border-top: 1px solid #9595b6;
  border-bottom: 1px solid #5a567f;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 10px 15px;
  position: relative;
  text-align: center;
}

th:first-child {
  border-left: 1px solid #999;
}

th:last-child {
  border-right: 1px solid #999;
}

tr:nth-child(odd) {
  background: #ebf3f9;
}

td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: none;
}